.columns {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rows{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}